.app-wrapper{
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 65px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
  
}

.app-wrapper-content{
  grid-area: c;
  background-image: url("https://wallpapertag.com/wallpaper/full/b/a/c/285015-beautiful-paper-background-2362x1575-for-full-hd.jpg");
}
 .app-wrapper-content img{
  width: 500px;
  height: 350px;
 }
